{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block extra_title %}- {% trans "Events & News" %}{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
            <hr>
            <h2 class="mb-4">{% trans "Events & News" %}</h2>
            <hr>
    <div class="row">
        <div class="col-md-12">
            {% for eve in event %}
            <div class="card bg-light mb-3">
                
                {% if eve.url is None %}
                <div class="card-header">
                    <i class="far fa-calendar-alt"></i> {{ eve.date }}
                </div>
                <div class="card-body">
                    <h6>{{ eve.name }}</h6>
                    <p class="small"> {{ eve.description }} </p>
                    <img class="img-fluid" src="{{ eve.image.url }}" alt="{{ eve.name }}">
                </div>
                {% else %}
                    <div class="card-header">
                       <i class="far fa-calendar-alt"></i> {{ eve.date }}
                    </div>
                    <div class="card-body">
                        <h6>{{ eve.name }}</h6>
                        <p class="small"> {{ eve.description }} </p>
                        <img class="img-fluid" src="{{ eve.image.url }}" alt="{{ eve.name }}">
                        <a href="{{ eve.url }}" target="_blank" class="stretched-link"></a>
                    </div>
                {% endif %}
            </div>{% endfor %}  
        </div>
    </div>
    </div>
{% endblock %}