{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h3 class="text-center">Events & News</h3>
                <ul class="timeline">
                     {% for eve in event %}
                    <li>
                        <h5><a href="#">{{ eve.date }}</a></h5>
                        <a target="_blank" href="">{{ eve.name }}</a>
                        <p> {{ eve.description }} </p>
                        <img class="img-fluid" src="{{ eve.image.url }}" alt="{{ eve.name }}">
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}