{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block extra_title %}- {% trans "Events & News" %}{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h2 class="mb-4">{% trans "Events & News" %}</h2>
                <hr>
                <ul class="timeline">
                     {% for eve in event %}
                    <li>
                        {% if eve.url is None %}
                        <h5>{{ eve.date }}</h5>
                        <p>{{ eve.name }}</p>
                        <p> {{ eve.description }} </p>
                        <img class="img-fluid" src="{{ eve.image.url }}" alt="{{ eve.name }}">
                        {% else %}
                        <a href="{{ eve.url }}" target="_blank">
                        <h5>{{ eve.date }}</h5>
                        <p>{{ eve.name }}</p>
                        <p> {{ eve.description }} </p>
                        <img class="img-fluid" src="{{ eve.image.url }}" alt="{{ eve.name }}"></a>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}