html {
    height: 100%;
}

body {
    background: url('/media/homepage_bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 200px);
    color: #555555;
    font-family: 'Roboto Slab', serif;
}

.shop-button,
.event-button {
    background: rgba(255, 255, 255, 0.74);;
}