html {
    height: 100%;
}

body {
    background: url('/media/homepage_bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 200px);
    color: #555555;
    font-family: 'Roboto Slab', serif;
    padding-top: 100px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.my-header {
    border-bottom: 1px solid rgba(114, 110, 110, 0.3);
}

.my-btn {
    border: 1px solid #555;

}
/* index style*/

.index-height {
    min-height: 80vh;
}

/* main page buttons */

.shop-button,
.event-button {
    background: rgba(255, 255, 255, 0.74);;
}

/* footer style*/

.my-align {
   display:inline-block;
}

.links li a {
  text-decoration: none;
  color: #555;
}

.links li a:hover {
  text-decoration: none;
  color: #000;
}

.my-footer {
    border-top: 2px solid rgba(114, 110, 110, 0.3);
    padding-top: 20px;
}

footer {
    padding-top: 15px;
}

.social-icons li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

.social-icons li a {
    height: 30px;
    width: 30px;
    display: block;
    float: left;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 50%;
    position: relative;
}

.social-icons li a i{
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #000;
}

/* products section */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.card-padding {
    margin-bottom: 20px;
}

.card-img-products {
    height: 19em;
    max-height: 20em ;
    -o-object-fit: fill;
    object-fit: fill;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;

}

.btt-link {
    cursor: pointer;
}

/* product form image style */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* events & news section */

ul.timeline {
    position: relative;
}
        
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
        
ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}
        
ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #d4e822;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

/* bootsrap toast */

.message-container {

    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* allauth section */


.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}


.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* adjust for smaller screens */
@media (max-width: 991px) {

    .btn {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}
