html {
    height: 100%;
}

body {
    background: url('/media/homepage_bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 200px);
    color: #555555;
    font-family: 'Roboto Slab', serif;
    padding-top: 100px;
}

ul {
  list-style-type: none;
}


/* index style*/

.index-height {
    min-height: 650px;
}

/* main page buttons */

.shop-button,
.event-button {
    background: rgba(255, 255, 255, 0.74);;
}

/* footer style*/

footer {
    padding-top: 15px;
}

.social-icons li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

.social-icons li a {
    height: 30px;
    width: 30px;
    display: block;
    float: left;
    background: rgba(0, 0, 0, 0.02);
    border-radius: 50%;
    position: relative;
}


.social-icons li a i{
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #000;
}

/* products section */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

