{% load i18n %}

<div class="container my-footer">
    <div class="row ">
        <div class="col-sm-4">
            <h4>APINI</h4>
            <p class="small my-align">{% trans 'We are small family business producing natural honey and derivated products, as well as made from-zero handmade soaps, shampoos, and cosmetics' %}</p>
            <ul class="social-icons">
                <li><a href="https://www.facebook.com/Prisaca-lui-Ivan-Chiriac-103919674928110" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
            </ul>
            <hr class="w-50 mb-1 d-block d-sm-none">
        </div>
        <div class="col-sm-4 text-md-center">
            <ul class="small links">
                <li><a href="{% url 'products' %}">{% trans 'All products' %}</a></li>
                <li><a href="{% url 'products' %}?category=honey,mixes">{% trans 'Honey & Mixes' %}</a></li>
                <li><a href="{% url 'products' %}?category=bee_products">{% trans 'Bee Products' %}</a></li>
                <li><a href="{% url 'products' %}?category=cosmetics">{% trans 'Cosmetics' %}</a></li>
                <li><a href="{% url 'events' %}">{% trans 'Events & News' %}</a></li>
                <li><a href="{% url 'about' %}">{% trans 'About' %}</a></li>
                <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
            </ul>
            <hr class="w-50 mb-1 d-block d-sm-none">
        </div>
        <div class="col-sm-4 text-md-right">
            <ul class="links">
                <li><i class="fas fa-map-marker-alt"></i> mun. Chisinau, str Valea Dicescu 47</li>
                <li><i class="fas fa-phone"></i> +(373) 67699396</li>
                <li><i class="fas fa-envelope"></i> apinimd@gmail.com</li>
                <li><a href="https://wa.me/37367699396" target="_blank"><i class="fab fa-whatsapp"></i> 37367699396</a></li>


            </ul>
            <hr class="w-50 mb-1 d-block d-sm-none">
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12">
            <p class="small"> Copyright &copy; All rights reserved</p>
        </div>
    </div>
</div>