{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block extra_title %}- {% trans 'About' %}{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h2 class="mb-4">{% trans 'About' %}</h2>
                <hr>
                <p>our statment is to deliver bla bla bla</p>

                <h3 class="text-center">{% trans 'About us in press' %}</h3>
                  {% for x in about %}
                    <li>
                        <h5>{{ x.name }}</h5>
                        <p>{{ x.description }}</p>
                        <p> {{ eve.description }} </p>
                        <img class="img-fluid" src="{{ x.image.url }}" alt="{{ eve.name }}">
                        <p><a href="{{ x.url }}"> url to article</a></p>
                    </li>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}