{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block extra_title %}- {% trans 'Contact' %}{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h3 class="mb-4">{% trans 'Contact' %}</h3>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="form-actions">
                    <button class="btn" type="submit">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}